<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content mt-5 pt-3">
        <div class="layout-px-spacing">

            <%- include('../partials/flash/flash.ejs') %>


                <div class="row layout-spacing">

                    <!-- Content -->
                    <div class="col-xl-8 col-sm-12 layout-top-spacing">


                        <div class="user-profile layout-spacing">
                            <div class="widget-content widget-content-area">
                                <%if (new Date().getHours()<22){ %>

                                    <form method="post" class="needs-validation" novalidate
                                        action="/dormitory/student/post-pass-request">
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Reason of pass</span>
                                            </div>
                                            <textarea name="passReason" class="form-control" aria-label="With textarea"
                                                id="passReason" required></textarea>
                                            <div class="invalid-feedback">
                                                Please provide reason of pass.
                                            </div>
                                        </div>
                                        <fieldset class="form-group mb-3">
                                            <div class="d-flex">
                                                <%if (new Date().getHours()<22){ %>
                                                    <div class="n-chk">
                                                        <label class="new-control new-radio radio-dark">
                                                            <input type="radio" class="new-control-input" value="night"
                                                                name="passType" required checked>
                                                            <span class="new-control-indicator"></span>Night pass
                                                        </label>
                                                    </div>
                                                    <% } %>

                                                        <%if (new Date().getHours()<14){ %>

                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-primary">
                                                                    <input type="radio" class="new-control-input"
                                                                        value="day" name="passType" required>
                                                                    <span class="new-control-indicator"></span>Day pass
                                                                </label>
                                                            </div>
                                                            <% } %>


                                            </div>

                                        </fieldset>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-primary mt-3" type="submit">Submit Request</button>

                                        </div>
                                    </form>

                                    <% }else{ %>
                                        <h1>Your cannot Send Pass Request after 10:00 pm</h1>

                                        <% } %>
                            </div>
                        </div>

                    </div>


                </div>
        </div>

    </div>
    </div>
    <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <script>

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    </script>